.actorImg {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.action-buttons {
    visibility: hidden;
}

tr:hover .action-buttons {
    visibility: visible;
}